.calculated-width {
  width: -webkit-calc(100% - 155px);
  width:    -moz-calc(100% - 155px);
  width:         calc(100% - 155px);
  height: -webkit-calc(100% - 90px);
  height:    -moz-calc(100% - 90px);
  height:         calc(100% - 90px);
}​

body {
  background-color: rgba(180,10,28,0.87);
}

#course-title {
  color: white;
  text-align: center;
  width: 140px;
}

/* Main window */
#main-window {
  /*top: 140px;*/
  background-color: rgba(192, 0, 0, 0.78);
 /*position: fixed;*/
  /*left: 140px;*/
  margin-left: 155px;
  margin-right: 0px;

}
#lesson-window {
  /*top: 90px;*/
  background-color: #ffc529;
  position: static;
  /*left: 140px;*/
  margin-left: 155px;
  margin-right: 0px;

}

/* Style page content */
.main {
  margin-left: 140px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/*!* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
  /*.sidenav {padding-top: 15px;}*/
  /*.sidenav a {font-size: 18px;}*/
/*}*/
