.calculated-width {
  width: -webkit-calc(100% - 140px);
  width:    -moz-calc(100% - 140px);
  width:         calc(100% - 140px);
  height: -webkit-calc(100% - 90px);
  height:    -moz-calc(100% - 90px);
  height:         calc(100% - 90px);
}​

body {
  background-color: rgba(180,10,28,0.87);
}

 #lesson-tab-container {
   /*background-color: #e6c32a;*/
 }

#course-title {
  color: white;
  text-align: center;
  width: 140px;
}

/* Main window */
#main-window {
  top: 140px;
  background-color: rgba(192, 0, 0, 0.78);
 position: fixed;
  left: 140px;

}
#lesson-window {
  top: 90px;
  background-color: #ffc529;
  position: fixed;
  left: 140px;

}

/* Style page content */
.main {
  margin-left: 140px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/*!* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
  /*.sidenav {padding-top: 15px;}*/
  /*.sidenav a {font-size: 18px;}*/
/*}*/
