

<app-module-list></app-module-list>

<div class="row">
  <div id="lesson-window" class="calculated-width container-fluid">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>
<!--<div id="topic-window" class="calculated-width container-fluid">-->
  <!--&lt;!&ndash;<app-topic-pills></app-topic-pills>&ndash;&gt;-->
<!--</div>-->

<div class="row">
<div id="main-window" class="calculated-width container-fluid">
  <br/>

  <app-topic-pills></app-topic-pills>
  <br/>

  <div class="container-fluid">
    <app-widget-list></app-widget-list>
  </div>
</div>
</div>
