<div id="header-container" class="fluid-container">

  <h2 id="course-grid-header">Course Grid</h2>

</div>

<div class="container-fluid">
  <div class="card-deck">

    <div *ngFor="let course of courses" class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title"><span class="faded">Course Title:</span> {{course.title}}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{course.author}}</h6>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <button  (click)="routeToViewer(course.id)" class="btn btn-block btn-warning">Details</button>
      </div>
    </div>

  </div>
</div>
